{{#extends 'base'}}

{{#block 'title'}}
Home
{{/block}}

{{#block 'content'}}
<div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
  {{> sidebar this}}
  <div class="w-full overflow-y-scroll lg:pt-5 dark:bg-gray-500">
    <div class="flex items-center justify-center">
      <div class="container">
        <table class="w-full sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
          <thead>
            <tr
              class="bg-blue-50 dark:bg-blue-200 font-serif text-gray-800 flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
              <th class="p-3 text-left font-normal">ID</th>
              <th class="p-3 text-left font-normal border-l">Title</th>
              <th class="p-3 text-left font-normal border-l">Cost</th>
              <th class="p-3 text-left font-normal border-l">Image</th>
              <th class="p-3 text-left font-normal border-l">Brand</th>
              <th class="p-3 text-left font-normal border-l">Category</th>
              <th class="p-3 text-left font-normal border-l">Tags</th>
              <th class="p-3 text-left font-normal border-l">Stock</th>
              <th class="p-3 text-left font-normal border-l">View</th>
              <th class="p-3 text-left font-normal border-l">Edit</th>
              <th class="p-3 text-left font-normal border-l">Delete</th>
            </tr>
          </thead>
          <tbody class="flex-1 sm:flex-none font-extralight">
            {{#each products}}
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="border hover:bg-gray-100 p-3">{{this.id}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.name}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.baseCost}}</td>
              <td class="border hover:bg-gray-100 p-3">
                {{#if this.image}}
                <img src="{{this.image.[0].imageThumbnailUrl}}" alt="listed product" />
                {{#compare this.image.length ">" 1}}
                <p class="text-sm">
                  {{#minus this.image.length 1}}{{/minus}} more image(s).
                </p>
                {{/compare}}
                {{else}}
                No Image
                {{/if}}
              </td>
              <td class="border hover:bg-gray-100 p-3">{{this.brand.brandName}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.category.name}}</td>
              <td class="border hover:bg-gray-100 p-3">
                <ul>
                  {{#each this.tags}}
                  <span
                    class="inline-flex items-center justify-center px-2 py-1 my-1 text-xs font-bold leading-none text-indigo-100 bg-indigo-700 rounded-full">
                    <li>
                      {{this.name}}
                    </li>
                  </span>
                  {{/each}}
                </ul>
              </td>
              <td class="border hover:bg-gray-100 p-3">{{this.stock}}</td>
              <td class="border bg-yellow-200 hover:bg-green-400 cursor-pointer p-3">
                <a href="/products/{{this.id}}">
                  View
                </a>
              </td>
              <td class="border bg-yellow-200 hover:bg-blue-400 cursor-pointer p-3">
                <a href="/products/{{this.id}}/edit">
                  Edit
                </a>
              </td>
              <td class="border bg-yellow-200 hover:bg-red-400 cursor-pointer p-3">
                <button class="text-red-500 hover:text-red-700" onclick="openModal({{this.id}})">
                  Delete
                </button>
              </td>
            </tr>
            {{>delete this}}
            {{/each}}
          </tbody>
        </table>
        <div class="container p-1 mt-4 flex justify-end">
          <a href="/products/add"
            class="px-3 py-2 m-1 text-sm bg-green-400 rounded-full text-white hover:text-black hover:bg-green-200">
            Add New Listing
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{{#block "scripts"}}
{{!-- #modal-<id> = main modal #modal-bg-<id> = modal background #modal-body-<id> = modal body --}}
      <script>
        function openModal(id) {
          document.getElementById(`modal-${id}`).classList.remove("hidden");
        }

        function closeModal(id) {
          document.getElementById(`modal-${id}`).classList.add("hidden");
        }
      </script>

      {{/block}}
      {{/block}}

      {{/extends}}