{{#extends 'base'}}

{{#block 'title'}}
Home
{{/block}}

{{#block 'content'}}
<div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
  {{> sidebar this}}
  <div class="w-full overflow-y-scroll p-3 lg:pt-5 dark:bg-gray-500">
    <div class="flex items-center justify-center">
      <div class="container">
        <table class="w-full bg-white rounded-lg overflow-hidden shadow-lg my-5">
          <thead>
            <tr
              class="bg-blue-50 dark:bg-blue-200 font-serif text-gray-800 flex-col flex-nowrap table-row rounded-l-lg rounded-none mb-0">
              <th class="p-3 text-left font-normal">ID</th>
              <th class="p-3 text-left font-normal">Name</th>
              <th class="p-3 text-left font-normal">Cost</th>
              <th class="p-3 text-left font-normal">Image</th>
              <th class="p-3 text-left font-normal">Brand</th>
              <th class="p-3 text-left font-normal">Category</th>
              <th class="p-3 text-left font-normal">Custom Tag</th>
              <th class="p-3 text-left font-normal">Stock</th>
              <th class="p-3 text-left font-normal">View</th>
              <th class="p-3 text-left font-normal">Edit</th>
              <th class="p-3 text-left font-normal">Delete</th>
            </tr>
          </thead>
          <tbody class="flex-none font-extralight">
            {{#each products}}
            <tr class="flex-col flex-no wrap table-row mb-0">
              <td class="border hover:bg-gray-100 p-3">{{this.id}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.name}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.baseCost}}</td>
              <td class="border hover:bg-gray-100 p-3">
                {{#if this.image}}
                <img src="{{this.image.[0].imageThumbnailUrl}}" alt="listed product" />
                {{#compare this.image.length ">" 1}}
                <p class="text-sm">
                  {{#minus this.image.length 1}}{{/minus}} more image(s).
                </p>
                {{/compare}}
                {{else}}
                No Image
                {{/if}}
              </td>
              <td class="border hover:bg-gray-100 p-3">{{this.brand.brandName}}</td>
              <td class="border hover:bg-gray-100 p-3">{{this.category.name}}</td>
              <td class="border hover:bg-gray-100 p-3">
                {{#if this.customTag.length}}
                {{this.customTag.length}} tag(s)
                {{else}}
                No Tags
                {{/if}}
              </td>
              <td class="border hover:bg-gray-100 p-3">{{this.stock}}</td>
              <td class="border bg-yellow-200 hover:bg-green-400 cursor-pointer p-3">
                <a href="/products/{{this.id}}">
                  View
                </a>
              </td>
              {{#if @root.user}}
              {{#compare @root.user.id "===" this.userId}}
              <td class="border bg-yellow-200 hover:bg-blue-400 cursor-pointer p-3">
                <a href="/products/{{this.id}}/edit">
                  Edit
                </a>
              </td>
              {{/compare}}
              {{#compare @root.user.id "!==" this.userId}}
              <td class="border bg-gray-400 p-3">
                Edit
              </td>
              {{/compare}}
              {{else}}
              <td class="border bg-gray-400 p-3">
                Edit
              </td>
              {{/if}}
              {{#if @root.user}}
              {{#compare @root.user.id "===" this.userId}}
              <td class="border bg-yellow-200 hover:bg-red-400 cursor-pointer p-3 text-red-500 hover:text-gray-800">
                <button onclick="openModal({{this.id}})">
                  Delete
                </button>
              </td>
              {{/compare}}
              {{#compare @root.user.id "!==" this.userId}}
              <td class="border bg-gray-400 p-3">
                Delete
              </td>
              {{/compare}}
              {{else}}
              <td class="border bg-gray-400 p-3">
                Delete
              </td>
              {{/if}}
            </tr>
            {{>delete this}}
            {{/each}}
          </tbody>
        </table>
        <div class="container p-1 mt-4 flex justify-end">
          <a href="/products/add"
            class="px-3 py-2 m-1 text-sm bg-green-400 rounded-full text-white hover:text-black hover:bg-green-200">
            Add New Listing
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}

{{#block "scripts"}}
{{!-- #modal-<id> = main modal #modal-bg-<id> = modal background #modal-body-<id> = modal body --}}
      <script>
        function openModal(id) {
          document.getElementById(`modal-${id}`).classList.remove("hidden");
        }

        function closeModal(id) {
          document.getElementById(`modal-${id}`).classList.add("hidden");
        }
      </script>
      {{/block}}

      {{/extends}}